# Eclipse
.classpath
.project
.settings/
src/main/resources/static/videos/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
.tern-project
build/

# Vagrant
ansible/
.vagrant/
Vagrantfile

# logfiles
log4j.*log*

node_modules/

# node debug qtf
npm-debug.log
SignBot/SignBot/SignBot/obj/
SignBot/SignBot/packages/
