<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Sign me up</title>
</head>
<body>
<h1 layout:fragment="header">Welcome</h1>

<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <i>
                Choose your language and type your search or press the microphone to speak.
            </i>
        </div>
        <br/>
        <form role="form" action="" method="get">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Sign language</label>
                    <select class="form-control" name="sign">
                        <option>Auslan</option>
                        <option>NZ SL</option>
                        <option>ASL</option>
                        <option>BSL</option>
                        <option>Libras</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>I want to say</label>
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control text-input" name="search" placeholder="Type your search here..."/>
                        <span class="input-group-btn">
                            <button class="btn btn-default speak-button" type="button">
                                <i class="fa fa-microphone" aria-hidden="true"></i>
                            </button>
                            <button type="submit" class="btn btn-default" >
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-6 video" style="margin: 0 auto;">
                <video width="320" height="240" id="videoPlayer">
                    <source src="http://media.auslan.org.au/mp4video/33/33460_1.mp4" th:src="${videos}" type="video/mp4"/>
                    Your browser does not support the video tag.
                </video>
        </div>

    </div>
</div>
<div layout:fragment="js">
    <script th:src="@{/js/videos.js}" src="../static/js/videos.js"></script>
</div>
</body>
</html>
